:root {
  --bottom-right: rgb(254, 254, 243);
  --box-shadow: rgb(242, 242, 196);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
}

section {
  background-image: url(./nebula.jpg);
  text-align: center;
  min-width: 40vw;
}

.hero-text-bg {
  margin-top: 25vh;
  background-color: black;
  opacity: 70%;
  padding: 15px;
}

.hero-text {
  color: white;
  font-size: 3rem;
  opacity: 100%;
}

.photo-credit {
  font-size: .9rem;
  color: white;
  position: fixed;
  bottom: 10px;
  left: 45px;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main>div {
  min-height: 32vh;
  padding: 30px;
}

.right-top>p,
legend {
  font-size: 1.3rem;
}

.right-top>p {
  padding-bottom: 25px;
  font-weight: 550;
}

.right-top {
  background-color: var(--bottom-right);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 5px 5px 3px var(--box-shadow);
  position: relative; /* for box-shadow visibility */
}

.inner-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: -25px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 15px;
  height: 100%;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

label {
  font-size: .63rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

input {
  max-width: 200px;
  max-height: 15px;
  border: solid 1px var(--box-shadow);
  border-radius: 5px;  /*   This made borders thicker */
  padding: 5px;
  float: table;
}

input:focus {
  outline: solid 1px rgb(56, 56, 231);
  box-shadow: 1px 1px 2px 2px gray;
}

input:invalid {
  border: solid 2px red;
}

#mismatch-text {
  color: red;
  font-size: .63rem;
  margin-top: -55px;
  margin-left: 10px;
  display: none;
}

.right-bottom {
  background-color: var(--bottom-right);
}

.right-bottom>button {
  padding: 10px 30px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  background-color: olivedrab;
  border-radius: 5px;
  margin-bottom: 30px;
}

.mismatch {
  outline: solid 1px rgb(177, 46, 46);
}